
body{
    margin: 0 auto;
    text-align: center;
    background-color: #fca6c9ff;
}

.maincontent{
    width: 450px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

p{
    color: white;
}

h3{
    width: 450px;
    margin: 10px auto
}
.customsize{
    font-size: extra;
}

.alignlist{
    
    text-align: left
}

.imgadjust {
    width: 150px;
}